* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
}

header {
  background: lightseagreen;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav a {
  padding: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  border-bottom: 5px solid lightseagreen;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
}

img {
  width:100%;
}

.image-container {
  position:relative; 
  margin: auto;
  flex:1;
  max-width: 500px;
  min-width: 384px
}

main div {
  margin: 40px;
  flex: 3;
}
h2 {
  border-bottom: 1px solid grey;
}

section {
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
}

section div{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.work {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.big-image {
max-width: 50rem;
min-width: 25rem;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

.big-image p { 
  position: absolute;
  right:78.5%;
  top:45%;
  background-color: lightseagreen;
  padding: .5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  }

.big-image p:hover{
cursor: pointer;
background-color: grey;
box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.small-image-container {
  display:flex;
  flex-wrap:wrap;
  gap: 1rem;
  padding: 2rem;
}

.small-image {
  max-width: 35rem;
  min-width: 20 rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;

}

.small-image p {
position: absolute;
background-color: lightseagreen;
padding: .5rem;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

footer {
  background: lightseagreen;
  color: white;
  justify-content: center;
  padding: 30px;
  display: flex;
}